/* .App {
  display: grid;
  text-align: center;
}



.nav {
  grid-area: nav;
}

.sidebar {
  grid-area: sidebar;
}

.post {
  grid-area: post;
}

.filter {
  grid-area: filter;
}

.App {
  grid-template-areas:
    "nav nav nav "
    "sidebar post  filter"
    "sidebar post  filter"
    "sidebar post  filter";
} */

.sidebar {
  padding: 0.5rem;
  border-right: 1px solid black;
}
.header {
  border-bottom: 1px solid;
  display: grid;
}
.title {
  text-align: left;
  color: #4169e1;
  margin-left: 100px;
}

.post-card {
  padding: 1rem;
}
